body {
    font-family: Arial;
    text-align: center;
}

input {
    margin: 5px;
    padding: 8px;
}

button {
    padding: 8px 15px;
}

table {
    margin: auto;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}